{% extends 'base.html.twig' %}

{% block title %}Quote index{% endblock %}

{% block body %}
    <h1>Quote index</h1>
    {# create a searchbar #}
    <form action="{{ path('app_quote_search') }}" method="get">
        <input type="text" name="query" placeholder="Search">
        <button type="submit">Search</button>
    </form>
    <a href="{{ path('app_quote_random') }}">Random quote</a>
    <table class="table">
        <thead>
        <tr>
            <th>Movie Name</th>
            <th>Release year</th>
            <th>Quote</th>
            <th>Character_name</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for quote in quotes %}
            <tr>
                <td>{{ quote.movie.name }}</td>
                <td>{{ quote.movie.releaseDate ? quote.movie.releaseDate|date('Y-m-d') : '' }}</td>
                <td>{{ quote.quote }}</td>
                <td>{{ quote.characterName }}</td>
                <td style="display: flex; flex-direction: row; gap: 5px;">
                    <a href="{{ path('app_quote_show', {'id': quote.id}) }}">show</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('app_quote_edit', {'id': quote.id}) }}">edit</a>
                        {{ include('quote/_delete_form.html.twig') }}
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_quote_new') }}">Create new</a>
        <br>
        <a href="{{ path('app_movie_new', { redirect: 'app_quote_index'}) }}">Create new Movie</a>
        <br>
    {% endif %}
    <a href="{{ path('app_movie_index') }}">Movie list</a>
{% endblock %}
